html {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #222;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    color: #fff;
    float: left;
}

#invisible {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#container {
    width: 800px;
    max-height: 600px;
    margin:  0 auto;
    overflow: hidden;
}

.image {
    max-width: 800px;
    height: 585px;
    max-height: 585px;
    width: 800px;
    background-position: center;
}

.image .item-link{
    position: relative; 
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.image .item-link:hover{
    background: #fff;
    opacity:0.2;
    filter:alpha(opacity=20);
}

.image .item-link span{
    display: none;
}

.image .textarea {
    height: 65px;
    position: relative;
    top: 520px;
    left: 0;
    width: 100%;
    background: url('transpixel.png');
    /*opacity:0.7;
    filter:alpha(opacity=70);*/ /* For IE8 and earlier */
    font-family:  'Signika Negative', sans-serif;
    letter-spacing: 1px;
}

.image .textarea.big {
    top: 200px;
    height: 250px;
}

.image .textarea.big .text{
    height: 210px;
    font-size: 40px;
    line-height: 70px;
}

.image .textarea.big .block-link{
    height: 210px;
    line-height: 210px;
    font-size: 100px;
}



.image .textarea .text {
    height: 50px;
    margin-top: 7px;
    width: 88%;
    margin-left:2%;
    float: left;
    font-size: 22px;
    line-height: 25px;
}

.image .textarea .text .speaker-icon{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 1%;
}


.block {
    position: relative;
    top: -9999px;
    left: -9999px;
    display: none;
}

.image p {
    position: relative;
    top: -9999px;
    left: -9999px;
    display: none;
}

.block-link {
    width: 10%;
    float: left;
    cursor: pointer;
    font-size: 60px;
    line-height: 65px;
    height: 65px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 25px;
}

.block-link:hover {
    color: #FFFF00;
}

.start-link {
    width: 300px;
    height: 70px;
    position: relative;
    top: 500px;
    left: 300px;
}